html,
body {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  font-family: 'Inter', monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {}

body+div {
  position: relative;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.introduction__text {
  font-size: 74px;
  color: #4F5152;
  font-weight: 700;
  line-height: 88px;

  @media (min-width: 960px) {
    .introduction__text {
      font-size: 91px;
      line-height: 106px;
    }
  }
}

.introduction__text--highlighted {
  font-size: 74px;
  color: #4F5152;
  font-weight: 700;
  line-height: 88px;
}

.introduction-container {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: calc( 100vh - 162.5px - 52px );
  flex-direction: column-reverse;
  
  @media(min-width: 380px) {
    min-height: calc( 100vh - 162.5px - 52px );
  }
    
  @media(min-width: 650px) {
    min-height: calc( 100vh - 80px - 52px );
  }
  
  @media (min-width: 1280px) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 250px;
  }
}

@media (min-width: 960px) {
  .introduction__text {
    font-size: 91px;
    line-height: 96px;
  }

  .introduction__text--highlighted {
    font-size: 98px;
    min-height: 114px !important;
    height: unset;
    line-height: 100px;
    /* min-height: 115px; */
    line-height: 98px;
  }

}

@media (min-width: 1280px) {
  .introduction-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .introduction__text--highlighted {
    min-height: 114px !important;
    height: 212px;
  }
}

@media (min-width: 1920px) {
  .introduction__text--highlighted {
    height: unset;
  }
}
